html {
    scroll-behavior: smooth;
    height: 100%;
}
body {
    background-image: url(images/background.png);
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
}
#navbar {
    background-color: #000000 !important;
    --bs-navbar-active-color: #a56a24;
    font-weight: 200;
    font-family: "Times New Roman", Times, serif;
    --bs-navbar-color: #e6e6e6;
    --bs-navbar-brand-color: #e6e6e6;
    --bs-navbar-nav-link-padding-x: 1rem;
    --bs-navbar-brand-font-size: 30px;
    --bs-navbar-hover-color: #a56a24;
    --bs-navbar-brand-hover-color: #a56a24;
    font-size: 20px;
}
.navbar-brand {
    font-family: "Alex Brush", cursive;
}
#myBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 10px;
    z-index: 99;
    border: none;
    outline: none;
    background-color: black;
    color: white;
    cursor: pointer;
    padding: 10px;
    border-radius: 8px;
    font-size: 16px;
    line-height: 1.1em;
    word-spacing: -1px;
} 
#myBtn:hover {
    background-color: #555;
}
/*Home Page*/
#home h1 {
    margin-top: 16.5%;
    font-size: 90px;
    color: black;
    font-family: "Alex Brush", cursive;
}
#intro {
    margin: .05% 19% 1.5% 19%;
    font-family: "Crimson Pro", serif;
    font-size: 18px;
    letter-spacing: -.3px;
    line-height: 1.4em;
    color: black;
}
.btn-primary {
    --bs-btn-color: #fff;
    --bs-btn-bg: #a56a24;
    --bs-btn-border-color: #a56424;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #a56424;
    --bs-btn-hover-border-color: black;
    font-family: "Crimson Pro", serif;
    font-size: 25px;
    margin-top: .05%;
    margin-bottom: 1.5%;
}
#timeline {
    border: #000000 1px solid;
    margin-bottom: 1%;
}
/* Maps */
#map-container {
    width: 100%;
    margin-top: 2%;
}
.maps {
    width: 46.8%;
    height: 550px;
    display: inline-block;
    max-width: 100%;
    max-height: 100%;
    z-index: 1;
    margin-bottom: 1%;
}
#map1 {
    margin-left: 2%;
    margin-right: 2%;
}
#map {
    margin-right: 2%;
}
.info {
    padding: 6px 8px;
    font: 14px/16px Arial, Helvetica, sans-serif;
    background: white;
    background: rgba(255,255,255,0.8);
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    border-radius: 5px;
} 
.info h4 {
    margin: 0 0 5px;
    color: #777;
}
.legend {
    text-align: left;
    line-height: 18px;
    color: #555; }
.legend i {
    width: 18px;
    height: 18px;
    float: left;
    margin-right: 8px;
    opacity: 0.7;
}
/*Graphs*/
.graph-heading {
    margin-top: 16.5%;
    font-size: 44.8px;
    color: black;
    font-family: "Crimson Pro", serif;
}
.graph-desc {
    margin: 2% 22% 1.5% 22%;
    font-family: "Crimson Pro", serif;
    font-size: 18px;
    letter-spacing: -.3px;
    line-height: 1.4em;
    color: black;
}
#storyline {
    background-color: white;
    margin: 1.9%;
    overflow-x: hidden;
}
#storyline iframe {
    padding: 2%;
    margin-bottom: -2%;
    overflow-x: hidden;
}
#myChart {
    margin: 2%;
    background-color: white;
    padding: 2%;
}
/*Other Pages*/
.page-heading {
    margin: 16.5% 1% 0% 1%;
    font-size: 44.8px;
    color: black;
    font-family: "Crimson Pro", serif;
}
.page-heading2 {
    margin: 0% 1%;
    font-size: 44.8px;
    color: black;
    font-family: "Crimson Pro", serif;
}
.page-text {
    margin: 1% 2% 1.5% 2%;
    font-family: "Crimson Pro", serif;
    font-size: 18px;
    letter-spacing: -.3px;
    line-height: 1.4em;
    color: black;
}
#thanks-list {
    margin: -1% 2% 0% 2%;
    padding-bottom: 2%;
}
/* Responsiveness */
@media only screen and (max-width: 600px) {
    #home h1 {
        margin: 5% 2% 0% 2%;
        font-size: 55px;
    }
    .btn-primary {
        font-size: 18px;
        margin-bottom: 5%;
    }
    #intro {
        margin: 2% 5% 5% 5%;
        font-family: "Crimson Pro", serif;
        font-size: 16px;
    }
    #timeline {
        margin-bottom: 10%;
    }
}
@media only screen and (max-width: 1050px) {
    body {
        background-image: url(images/background-small.png);
    }
}